html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 button,article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav,
 output, ruby, section, summary, time, mark,
 audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

 }
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
 ol, ul { list-style: none; }
 button{background: transparent;}
 blockquote, q { quotes: none; }
 blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
 strong { font-weight: bold; }
 table { border-collapse: collapse; border-spacing: 0; }
 img { border: 0; max-width: 100%; }
 html{
    line-height: initial;
    position: relative;
    height: 100%;
    overflow: hidden;
 }
html *{
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-touch-callout:none;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color:#000;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#root{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
a{
    text-decoration: none;
}
 .q-img{
    max-width: 100%;
 }
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    margin: 0 2px;
    opacity: .3;
}
.swiper-pagination-bullet-active{
    background: #007aff;
    opacity: 1;
}
.swiper-pagination-bullets {
    top: 50px;
    left: 0;
    width: 100%;
}
.react-swiper-component {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.demo-wrapper{
    width: 100%;
    height: 100%;
    z-index: 1;
}
.q-button-prev,
.swiper-button-prev{
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    text-align: left;
    direction: ltr;
    transform: rotate(180deg);
    width: 12px;
    height: 20px;
    margin: 7px 11px;
    color: #282828;
    background-image: none;
    top:5px;
    left: 8px;
    &:before,
    &:after{
        content: '';
        pointer-events: none;
        width: 14px;
        height: 2px;
        position: absolute;
        bottom: 0;
        margin: auto 0;
        box-shadow: inset 0 0 0 32px;
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    &:before{
        top:2px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after{
        top:0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.q-button-prev{
    position: absolute;
    z-index: 10;
}
.color-white{
    color: #fff;
}
.righttoleft{
    animation: showrighttoleft .8s;
}

@keyframes showrighttoleft{
    0% {transform:translate3d(100%,0,0); }
    100% {transform:translate3d(0,0,0);}
}
.lefttoright{
    animation: showlefttoright .8s;
}

@keyframes showlefttoright{
    0% {transform:translate3d(-100%,0,0); }
    100% {transform:translate3d(0,0,0);}
}
.bottomtotop{
    animation: showbottomtotop .4s;
}

@keyframes showbottomtotop{
    0% {transform:translate3d(0,100%,0); }
    100% {transform:translate3d(0,0,0);}
}
.toptobottom{
    animation: showtoptobottom .4s;
}

@keyframes showtoptobottom{
    0% {transform:translate3d(0,0,0); }
    100% {transform:translate3d(0,100%,0);}
}
.show-ani{
    transition: all .8s;
}
@keyframes showanimation{
    0% {opacity: 0; }
    100% {opacity: 1;}
}
.tips .point{
    width: 8px;
    height: 8px;
    background-color: #1464b5;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -10%;
    // animation: halo 1s infinite linear;
}
@keyframes halo{
    0% {box-shadow: 0 0 0 transparent;}
    50% {box-shadow: 0 0 .5rem darken(#1464b5, 20%);}
    100% {box-shadow: 0 0 0 transparent;}
}
//按钮点击波浪效果
button,.icon-btn{
    position: relative;
    overflow: hidden;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        // border-radius: 50%;
        pointer-events: none;
        background-image: radial-gradient(circle,blue 10%,transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(6,6);
        opacity: 0;
        transition: transform .3s,opacity .5s;
    }
    &:active:after{
        opacity: .3;
        transform: scale(0,0);
        transition: 0s;
    }
}
//ant设计风格的按钮点击边框放大效果
.ant-select{
    position: relative;
    //此处不需要设置overflow:hidden,因为after元素需要溢出显示
    &:focus{
        outline: none;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        //扩大伪类元素4个方向各10px
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        pointer-events: none;
        background-color: #333;
        background-repeat: no-repeat;
        background-position: 50%;
        opacity: 0;
        transition: all .3s;
    }

    &:active:after {
        opacity: .3;
        //设置初始状态
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0s;
    }
}
.pagination{
    position: absolute;
    top:26/16rem;
    left:0;
    right:0;
    height: 8px;
    text-align: center;
    span{
        width:5px;
        height:5px;
        display: inline-block;
        border-radius: 50%;
        margin: 0 2px;
        background-color: rgba(40, 40, 40, 0.5);
        &.active{
            background-color: rgba(0, 0, 255, 0.7);
        }
    }
}