 /*********
 *样式重置
 **********/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 button,article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav,
 output, ruby, section, summary, time, mark,
 audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	vertical-align: baseline;
 	background: transparent;
 	outline: none;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
 ol, ul { list-style: none; }
 button{background: transparent;}
 blockquote, q { quotes: none; }
 blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
 strong { font-weight: bold; }
 table { border-collapse: collapse; border-spacing: 0; }
 img { border: 0; max-width: 100%; }
 html{
 	line-height: initial;
 }
 body{
 	font-size: 0.32rem;
 }
 html,body{
 	height: 100%;
    overflow: hidden;
	// background: #4F4B4E;
 	// background: -webkit-linear-gradient(#1a1822 0%, #4F4B4E 100%);
 }
 .q-img{
 	max-width: 100%;
 }
 /******
 * tip提示
 ******/
 .tips{
 	position: absolute;
 	top:0;
 	left: 12px;
 	max-width:150px;
 	z-index: 2;
 	color: #fff;
 	background-color: #a69fa6;
 	font-size:0.75rem;
 	padding: .15rem .35rem;
 	border-radius: 3px;
 	font-weight: lighter;
 }
 .tips .content:before{
 	content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -12px;
    width: 0;
    height: 0;
    border-width: 3px 9px;
    border-style: solid;
    border-color: #a69fa6 #a69fa6 transparent transparent;
    transform: rotate(-45deg);
 }
 .tips .point{
 	 width: 5px;
 	 height: 5px;
 	 background-color: #fff;
 }
 
 
