/*********
 * index
 **********/
 section.index {
 	width: 100%;
 	height: 100%;
 	background: #1a1822;
 	background: -webkit-linear-gradient(top right,#1a1822, #4F4B4E);
 }
 .index header{
 	height: 2.8125rem;
 	width: 100%;
 	color: #fff;
 	font-size: 1.125rem;
 	text-align: center;
 }
 .index header .left{
 	width: 2.8125rem;
 	float: left;
 	line-height: 2.8125rem;
 	font-size: 0;
 }
 .index header .left i{
 	display: inline-block;
 	vertical-align: middle;
 	position: relative;
 	font-style: normal;
 	text-align: left;
 	direction: ltr;
 	-weibkit-transform: rotate(180deg);
 	transform: rotate(180deg);
 	width: 12px;
 	height: 20px;
 	margin: 7px 11px;
 }
 .index header .left i:before,
 .index header .left i:after{
 	content: '';
 	pointer-events: none;
 	width: 14px;
 	height: 2px;
 	position: absolute;
 	bottom: 0;
 	margin: auto 0;
 	box-shadow: inset 0 0 0 32px;
 	-webkit-transform-origin: right;
 	transform-origin: right;

 }
 .index header .left i:before{
 	top:2px;
 	-webkit-transform: rotate(45deg);
 	transform: rotate(45deg);
 }
 .index header .left i:after{
 	top:0;
 	-webkit-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 }
 .index header .right{
 	float: left;
 	line-height: 2.8125rem;
 	width: -webkit-calc(100% - 2.8125rem);
 	width: calc(100% - 2.8125rem);
 	transform: translate(-1.40625rem);
 }
 .index .page{
 	width: 100%;
 	height: -webkit-calc(100% - 2.8125rem);
 	height: calc(100% - 2.8125rem);
 	color: #cccccc;
 }
 .index .page .top{
 	width: 100%;
 	text-align: center;
 	height: 26.634182908546%;
 	/**垂直剧中**/
 	display: -webkit-box;
 	-webkit-box-pack:center;
 	-webkit-box-align:center;
 	-webkit-box-orient:vertical;

 }
 .index .page .top p{
 	font-size: .875rem;
 	line-height: 1.75rem;
 }
 .index .page .main{
 	height: 73.365817091454%;
 	// padding-bottom:.625rem;
 }
 .index .page .main .left,
 .index .page .main .right{
 	width: -webkit-calc(20.8% - 1px);
 	width: calc(20.8% - 1px);
 	float: left;
 	height: 100%;
 }
 .index .page .main .left .top,
 .index .page .main .right .top{
 	width: 100%;
 	height: -webkit-calc(100% - 3.5625rem);
 	height: calc(100% - 3.5625rem);
 	border-bottom:1px solid #989898;
 	margin-bottom: 1rem;  
 }
 .index .page .main .left .top{
 	border-right:1px solid #989898;
 }
 .index .page .main .right .top{
 	border-left:1px solid #989898;
 }
 .index .page .main .left .bottom,
 .index .page .main .right .bottom{
 	width: 100%;
 	height: -webkit-calc(1.5rem - 2px);
 	height: calc(1.75rem - 2px);
 	border: 1px solid #989898;
 }
 .index .page .main .left .bottom{
 	border-left: none;
 }
 .index .page .main .right .bottom{
 	border-right: none;
 }
 .index .page .main .center{
 	width: 58.4%;
 	float:left;
 	border-top: 1px solid #989898;
 	height: calc(100% - 1px);
 	padding: .75rem;
 }
 .door{
 	height: calc(100% - 2px);
 	width: calc(100% - 2px);
 	border: 1px solid #989898;
 	position: relative;
	display: flex;
	align-items: center;
	background-color: #37323a;
 }
 .door .tool{
 	width: 100%;
	position: absolute;
	top:0.3125rem;
	left: 0;
	text-align: center;
	
 }
 .door .tool i{
 	height: .625rem;
 	line-height: .625rem;
 	 display: inline-block;
 	 width: .625rem;
 	 border-radius: 50%;
 	 border: 1px solid #989898;
 	 margin-left: 0.15625rem;
 }
 .door .tool i:first-child{
 	margin: 0;
 	font-size: 0;
 }
 .equipment{
 	width: 100%;
 }
 .equipment .l-t,
 .equipment .l-b{
 	max-width: 23.4375rem;
 }
.equipment img.look{
 	 width: 4.0625rem;
 	 margin-left: .875rem;
	height: 100%;
	vertical-align: top;
 }
 .equipment img.finger-mark{
	width: 2.75rem;
	margin-left: .875rem;
	height: 100%;
	vertical-align: top;
 }
.equipment .l-b{
	padding-top: .625rem;
	position: relative;
}
 .equipment img.bell{
 	width: 2.375rem;
 	margin-left: calc((100% - 7.3125rem) / 2);
 	height: 100%;
 	vertical-align: top;
 }
 .equipment .tips{
 	left:calc(3.625rem + 12px);
 	top: .3rem;
 }
